In [1]:
import pandas as pd

import status_exists

df=pd.DataFrame(status_exists.forecast_2020)
df

   Taz_num            Name_hebre  Shape_Length     Shape_Area main_sector  \
0   3008.0            חניון נצבא   1529.406023  127367.285166      Jewish
1   3312.0  סטריפ דרך חברון דרום   2056.390116  129610.690438      Jewish
2   3311.0            גבעת המטוס   2263.979987  231733.517211      Jewish
3   3601.0         בית צפפא מזרח   1489.869222  150074.543659        Arab
4   3009.0  סטריפ דרך חברון צפון   1071.062705   67863.168750      Jewish
5   3007.0    דרך חברון אשר וינר   1560.865752   59570.861254      Jewish

  classification_name                                           geometry  \
0           כללי צעיר  MULTIPOLYGON Z (((220343.956 627834.158 0.000,...
1           כללי צעיר  MULTIPOLYGON Z (((220257.628 627500.897 0.000,...
2           כללי צעיר  MULTIPOLYGON Z (((220082.056 627554.698 0.000,...
3          ערבי מאוזן  MULTIPOLYGON Z (((220100.950 627593.769 0.000,...
4           כללי צעיר  MULTIPOLYGON Z (((220414.404 627803.685 0.000,...
5           כללי צעיר  MULTIPOLYGON Z (((220343.956 627834.158 0.000,...

  ENG_NAME_nafa Muni_Heb Sug_Muni  ... student_toddlers  student_gov  \
0     Jerusalem  ירושלים   עירייה  ...         0.000000          0.0
1     Jerusalem  ירושלים   עירייה  ...         0.000000          0.0
2     Jerusalem  ירושלים   עירייה  ...         0.000000          0.0
3     Jerusalem  ירושלים   עירייה  ...        16.769999          0.0
4     Jerusalem  ירושלים   עירייה  ...         0.000000          0.0
5     Jerusalem  ירושלים   עירייה  ...         0.000000          0.0

  cbs_muni_student_left_by_pre_of_demand_left uni_students  student_dorms  \
0                                         0.0          0.0            0.0
1                                         0.0          0.0            0.0
2                                         0.0          0.0            0.0
3                                         0.0          0.0            0.0
4                                         0.0          0.0            0.0
5                                         0.0          0.0            0.0

   emp_from_uni_student student_yeshiva emp_okev  emp_not_okev    student
0                   0.0             0.0      0.0           0.0   0.000000
1                   0.0             0.0      0.0           0.0   0.000000
2                   0.0             0.0      0.0           0.0   0.000000
3                   0.0             0.0      0.0           0.0  84.476524
4                   0.0             0.0      0.0           0.0   0.000000
5                   0.0             0.0      0.0           0.0   0.000000

[6 rows x 30 columns]

,Taz_num,Name_hebre,Shape_Length,Shape_Area,main_sector,classification_name,geometry,ENG_NAME_nafa,Muni_Heb,Sug_Muni,...,student_toddlers,student_gov,cbs_muni_student_left_by_pre_of_demand_left,uni_students,student_dorms,emp_from_uni_student,student_yeshiva,emp_okev,emp_not_okev,student
0,3008.0,חניון נצבא,1529.406023,127367.285166,Jewish,כללי צעיר,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,...",Jerusalem,ירושלים,עירייה,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,3312.0,סטריפ דרך חברון דרום,2056.390116,129610.690438,Jewish,כללי צעיר,"MULTIPOLYGON Z (((220257.628 627500.897 0.000,...",Jerusalem,ירושלים,עירייה,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,3311.0,גבעת המטוס,2263.979987,231733.517211,Jewish,כללי צעיר,"MULTIPOLYGON Z (((220082.056 627554.698 0.000,...",Jerusalem,ירושלים,עירייה,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,3601.0,בית צפפא מזרח,1489.869222,150074.543659,Arab,ערבי מאוזן,"MULTIPOLYGON Z (((220100.950 627593.769 0.000,...",Jerusalem,ירושלים,עירייה,...,16.769999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84.476524
4,3009.0,סטריפ דרך חברון צפון,1071.062705,67863.168750,Jewish,כללי צעיר,"MULTIPOLYGON Z (((220414.404 627803.685 0.000,...",Jerusalem,ירושלים,עירייה,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
5,3007.0,דרך חברון אשר וינר,1560.865752,59570.861254,Jewish,כללי צעיר,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,...",Jerusalem,ירושלים,עירייה,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000