In [1]:
import pandas as pd

import main

df=pd.DataFrame(main.index)
df

    id                                           geometry     plan_num  \
0  1.0  POLYGON ((220201.357 628123.210, 220440.861 62...          999
1  2.0  POLYGON ((220388.882 627800.986, 220383.521 62...  101-0657601
2  2.0  POLYGON ((220388.882 627800.986, 220383.521 62...  101-0657601
3  3.0  POLYGON ((220455.022 627892.088, 220451.318 62...  101-0547992
4  4.0  MULTIPOLYGON (((220066.102 627812.709, 220051....  101-0822452
5  5.0  POLYGON ((220521.824 627932.975, 220525.940 62...  101-0560805
6  6.0  POLYGON ((219979.089 627604.384, 219967.971 62...  101-1103571
7  7.0  POLYGON ((220082.056 627554.698, 220042.106 62...        14295
8  8.0  POLYGON ((220098.798 627560.850, 220131.302 62...  101-0657593
9  9.0  POLYGON ((219856.646 626847.652, 219836.117 62...  101-0657593

                                           plan_name  source  \
0                                         חניון נצבא     NaN
1                                          שערי ציון     NaN
2                                          שערי ציון     NaN
3  שער דרום - דרך חברון פינת דרך משה ברעם, א.ת תל...     NaN
4  הגדלת זכויות בניה באזור מגורים, בית צפאפא, ירו...     NaN
5                  דרך חברון ירושלים, מתחם אמת המים.     NaN
6  תוספת שטחי בניה וקומות תת קרקעיות ושנוי בנוי, ...     NaN
7                             גבעת המטוס - מגזר כללי     NaN
8  סטריפ דרך חברון ירושלים - מתחם שימושים מעורבים...     NaN
9  סטריפ דרך חברון ירושלים - מתחם שימושים מעורבים...     NaN

                       status  \
0                      רעיוני
1                       מאושר
2                       מאושר
3                      בבנייה
4  בדיקת תנאי סף-קיום תנאי סף
5                       מאושר
6                       הפקדה
7                      בבנייה
8                       בהכנה
9                       בהכנה

                                          link_url  add_uni_dorms  \
0                                              NaN            NaN
1  https://mavat.iplan.gov.il/SV4/1/1000947251/310            NaN
2  https://mavat.iplan.gov.il/SV4/1/1000947251/310            NaN
3  https://mavat.iplan.gov.il/SV4/1/1000886477/310            NaN
4  https://mavat.iplan.gov.il/SV4/1/1005048238/310            NaN
5  https://mavat.iplan.gov.il/SV4/1/1000893491/310            NaN
6  https://mavat.iplan.gov.il/SV4/1/1005234152/310            NaN
7                                              NaN            NaN
8  https://mavat.iplan.gov.il/SV4/1/1000947247/310            NaN
9  https://mavat.iplan.gov.il/SV4/1/1000947247/310            NaN

   add_old_age_home     add_aprt  Commerce_m2   Business_m2    Tourism_m2  \
0               NaN  1000.000000  1000.000000   1000.000000           NaN
1               NaN    30.481193   314.337305    314.337305    314.337305
2               NaN   289.518807  2985.662695   2985.662695   2985.662695
3               NaN   350.000000  3300.000000   3300.000000   3300.000000
4               NaN   152.000000          NaN           NaN           NaN
5               NaN   653.000000  1196.150000    500.000000           NaN
6               NaN    47.000000   550.000000           NaN           NaN
7               NaN  1950.000000          NaN           NaN           NaN
8               NaN  1942.000000  4700.000000  10095.000000      0.000000
9               NaN  1567.000000  8240.000000  24490.000000  43750.000000

   Public_m2  Industry_m2  emp_Public  emp_Education  emp_Commerce  \
0        NaN          NaN         NaN            NaN           NaN
1        NaN          NaN         NaN            NaN           NaN
2        NaN          NaN         NaN            NaN           NaN
3        NaN          NaN         NaN            NaN           NaN
4        NaN          NaN         NaN            NaN           NaN
5        NaN          NaN         NaN            NaN           NaN
6        NaN          NaN         NaN            NaN           NaN
7        NaN          NaN         NaN            NaN           NaN
8        NaN          NaN         NaN            NaN           NaN
9        NaN          NaN         NaN            NaN           NaN

   emp_Business  emp_Industry  emp_Tourism  Classrooms  add_uni_students  \
0           NaN           NaN          NaN         NaN               NaN
1           NaN           NaN          NaN         NaN               NaN
2           NaN           NaN          NaN         NaN               NaN
3           NaN           NaN          NaN         NaN               NaN
4           NaN           NaN          NaN         NaN               NaN
5           NaN           NaN          NaN         NaN               NaN
6           NaN           NaN          NaN         NaN               NaN
7           NaN           NaN          NaN         NaN               NaN
8           NaN           NaN          NaN         NaN               NaN
9           NaN           NaN          NaN         NaN               NaN

   F2025  F2030  F2035  F2040  F2045  F2050  F2050_plus  Risk_factor  \
0    NaN    NaN    NaN    NaN    NaN    NaN         NaN          0.5
1    NaN   0.50    NaN    NaN    NaN    NaN         NaN          0.8
2    NaN   0.50    NaN    NaN    NaN    NaN         NaN          0.8
3    NaN   0.50    NaN    NaN    NaN    NaN         NaN          0.8
4    NaN    NaN    NaN    NaN    NaN    NaN         NaN          0.8
5    NaN    NaN    NaN    NaN    NaN    NaN         NaN          0.8
6   0.25   0.75    NaN    NaN    NaN    NaN         NaN          0.8
7   0.00   0.75    NaN    NaN    NaN    NaN         NaN          1.0
8    NaN   0.50    NaN    NaN    NaN    NaN         NaN          1.0
9    NaN   0.50    NaN    NaN    NaN    NaN         NaN          1.0

   emp_fill_factor  notes     index_area   new_big  Taz_num  \
0                1    NaN   67294.657568  0.986191   3008.0
1                1    NaN    6602.308050  1.000001   3009.0
2                1    NaN    6602.308050  1.000001   3007.0
3                1    NaN    7963.822398  1.000000   3007.0
4                1    NaN   13631.208392  1.000000   3601.0
5                1    NaN   19980.370911  0.890721   3007.0
6                1    NaN    5388.814621  0.960448   3601.0
7                1    NaN  231733.517211  1.000000   3311.0
8                1    NaN   58221.680027  0.997741   3009.0
9                1    NaN   69759.735702  0.999942   3312.0

   precent_from_big_index
0                0.986191
1                0.095254
2                0.904747
3                1.000000
4                1.000000
5                0.890721
6                0.960448
7                1.000000
8                0.997741
9                0.999942

c:\Users\dpere\miniconda3\envs\creat_forecast_ad_hoc_env\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")
c:\Users\dpere\miniconda3\envs\creat_forecast_ad_hoc_env\Lib\site-packages\geopandas\geodataframe.py:2469: UserWarning: `keep_geom_type=True` in overlay resulted in 2 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  return geopandas.overlay(

,Name_hebre,main_sector,classification_name,Shape_Length,Shape_Area,Student_by_Classrooms,geometry,ENG_NAME_nafa,Muni_Heb,Sug_Muni,CR_PNIM,jeru_metro,zonetype,in_jerusalem_metropolin,yosh,jerusalem_city,Taz_num,taz_area
Taz_num,,,,,,,,,,,,,,,,,,
3008.0,חניון נצבא,Jewish,כללי צעיר,1529.406023,127367.285166,0,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3008.0,127367.285166
3312.0,סטריפ דרך חברון דרום,Jewish,כללי צעיר,2056.390116,129610.690438,1,"MULTIPOLYGON Z (((220257.628 627500.897 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3312.0,129610.690438
3311.0,גבעת המטוס,Jewish,כללי צעיר,2263.979987,231733.517211,0,"MULTIPOLYGON Z (((220082.056 627554.698 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3311.0,231733.517211
3601.0,בית צפפא מזרח,Arab,ערבי מאוזן,1489.869222,150074.543659,0,"MULTIPOLYGON Z (((220100.950 627593.769 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3601.0,150074.543659
3009.0,סטריפ דרך חברון צפון,Jewish,כללי צעיר,1071.062705,67863.168750,1,"MULTIPOLYGON Z (((220414.404 627803.685 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3009.0,67863.168750
3007.0,דרך חברון אשר וינר,Jewish,כללי צעיר,1560.865752,59570.861254,0,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,...",Jerusalem,ירושלים,עירייה,3000,1,Jerusalem,yes,0,1,3007.0,59570.861254