In [10]:
import pandas as pd

import main

df=pd.DataFrame(main.forecast)
df

,Taz_num,Name_hebre,main_sector,classification_name,Shape_Length,Shape_Area,Student_by_Classrooms,geometry
0,3008.0,חניון נצבא,Jewish,כללי צעיר,1529.406023,127367.285166,0,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,..."
1,3312.0,סטריפ דרך חברון דרום,Jewish,כללי צעיר,2056.390116,129610.690438,1,"MULTIPOLYGON Z (((220257.628 627500.897 0.000,..."
2,3311.0,גבעת המטוס,Jewish,כללי צעיר,2263.979987,231733.517211,0,"MULTIPOLYGON Z (((220082.056 627554.698 0.000,..."
3,3601.0,בית צפפא מזרח,Arab,ערבי מאוזן,1489.869222,150074.543659,0,"MULTIPOLYGON Z (((220100.950 627593.769 0.000,..."
4,3009.0,סטריפ דרך חברון צפון,Jewish,כללי צעיר,1071.062705,67863.168750,1,"MULTIPOLYGON Z (((220414.404 627803.685 0.000,..."
5,3007.0,דרך חברון אשר וינר,Jewish,כללי צעיר,1560.865752,59570.861254,0,"MULTIPOLYGON Z (((220343.956 627834.158 0.000,..."